html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover, a:active {
    color: #eee;
}
/*
table, tr, th, td, caption {
    border: 1px solid whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}*/

th, tr, td, caption {
    border: 1px solid whitesmoke;
    padding: 0.5rem;
}
table, caption {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
}

h1, .summary-table {
    display: inline-block; /* Allows elements to sit side-by-side */
    vertical-align: middle; /* Ensures they line up straight */
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.2rem; /* Shrink title text to save space */
        margin-bottom: 10px;
    }
    
    .summary-table {
        margin-left: 0; /* Remove the side gap when stacked */
        width: 100%;    /* Allow table to use full width */
    }
}

